#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar{
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 10px 40px ;
  background-color: lightblue ;

}

.articles-list{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.article-img{
  max-height: 150px;
}

.article-ind{
  border: 2px solid black;
  box-sizing: border-box;
  width: 500px;
  height: 300px;

}

#comments-box{
  background-color: rgb(210, 171, 247);
}

.comments-list{
  border: 1px solid darkred;
  list-style: disc;
}

#voting{
  border: 2px solid darkblue;
}

.trending-topics{
  list-style: none;
  display: inline-flex;
}

.post-comment{
  border: 2px solid red;
}

.write-comment-form{
  border: 2px solid blue;
  display: block;
}

.show-form-button{
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover{
  background-color: #4CAF50;
  color: white;
}

.postcomment-error-msg{
  color: red;
}

.sucess-post-msg{
  color: green;
}

#delete-comment-button{
  background-color: red;
}

.profile-card{
  background-color: lightgray;
  display: inline-block;
}

.user-profile-pic{
  max-width: 50px;
}